.container__home {
  display: flex;
  justify-content: center;

  background: var(--background-security);
  &-max {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 80px);
    width: 100%;
    max-width: 1250px;
  }
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 10px 25px;

  max-width: 500px;
  width: 45%;
  height: 65%;

  h1 {
    height: 200px;
    color: var(--title);
    font: 700 2.7rem 'Poppins', sans-serif;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-security);
  }
  strong {
    color: var(--color-primary);
  }
}

.home-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 5rem;
  width: 65%;
  height: 65%;
  img {
    position: relative;
    z-index: 100;
    border-radius: 15px;

    top: 0px;

    width: 28rem;
  }
  .rectang-pink {
    border-radius: 15px;
    position: absolute;
    top: 35px;
    left: 35px;
    width: 28rem;
    z-index: 10;
    height: 290px;
    background: var(--color-primary);
  }
  .teste {
    position: relative;
  }
}
