.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;

  padding: 0 35px;

  border-bottom: 1px solid var(--color-primary);
}
.page__header-left {
  display: flex;
  align-items: center;

  img {
    height: 45px;
    border-radius: 50%;
  }

  h1 {
    margin-left: 10px;
    color: var(--color-primary);
    font: 600 1.3rem 'Inter', sans-serif;
  }
}
.page__header-nav {
  width: 50%;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      gap: 1;
      list-style-type: none;

      font: 600 1rem 'Inter', sans-serif;
      transform: filter 0.1s;
      transition: all 0.25s ease-in-out;

      &:hover {
        filter: brightness(0.6);
      }
    }

    .contato {
      padding: 5px 20px;
      border-radius: 5px;
      background: var(--color-primary);

      font-weight: 400;
      color: var(--white);
    }
  }
}
